<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>

    <style>
        .story-image{
            background-position: center;
            background-size: cover;
            width: 60%;
        }
        .ourstory-gallery-div{
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 4em;
        }

        .ourstory-gallery{
            width: 45%;
            height: 2em;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="https://www.google.com/maps/place/Rosslyn+Riviera+Mall/@-1.2159707,36.7956993,17z/data=!4m10!1m2!2m1!1srosslyn+riviera!3m6!1s0x182f3d5eef234b95:0xac9e573f43fe5923!8m2!3d-1.216572!4d36.7998675!15sCg9yb3NzbHluIHJpdmllcmFaESIPcm9zc2x5biByaXZpZXJhkgEPc2hvcHBpbmdfY2VudGVy4AEA!16s%2Fg%2F11c2l3xmq6?entry=ttu" class="location"><img src="logos/location.png" alt="location" style="height: 1em;"> Roslyn Riviera mall</a>
        <img src="logos/logo.png" alt="logo" class="nav-logo">
        <div class="navdropdown-container">
            <img src="logos/burger-bar.png" alt="burgerbar" class="burgerbar" id="burgerbar" onclick="toggleDropdown()">
            <div class="navdropdown hidden" id="navdropdown">
                <a href="/" class="nav-link">HOME</a>
                <a href="/beverages" class="nav-link">DRINKS</a>
                <a href="/ourstory" class="nav-link">OUR STORY</a>
                <a href="/reservations" class="nav-link">RESERVATIONS</a>
                <a href="/store" class="nav-link">MERCHANDISE</a>
                <!-- <a href="" class="nav-link">GIFT CARDS</a> -->
            </div>
        </div>
    </div>
    <div class="carousel slide" id="ourstoryCarousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-image" style="background-image: url('./images/ourstory/journey1.jpg');"></div>
            </div>
            <div class="carousel-item">
                <div class="carousel-image" style="background-image: url('./images/ourstory/journey6.jpg');"></div>
            </div>
            <div class="carousel-item">
                <div class="carousel-image" style="background-image: url('./images/ourstory/journey7.jpg');"></div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#ourstoryCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#ourstoryCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div style="width: 40%; margin: auto; margin-bottom: 4em;" class="scrollhide">
        <h1 style="margin-top: 2em; text-align: center;">OUR STORY</h1>
        <p style="text-align: center; font-family: 'Resamitz';">Nairowua cafe and bar was launched on the 1st of December 2023, we are located at the Roslyn Riviera mall on Limuru road.</p>
    </div>
    <div class="ourstory-gallery-div">
        <div class="ourstory-gallery">
            <img src="./images/ourstory/journey1.jpg" alt="" style="width: 100%; margin-bottom: 1em;" class="scrollhide">
            <img src="./images/ourstory/journey2.jpg" alt="" style="width: 100%; margin-bottom: 1em;" class="scrollhide">
            <img src="./images/ourstory/journey3.jpg" alt="" style="width: 100%; margin-bottom: 1em;" class="scrollhide">
        </div>
        <div class="ourstory-gallery">
            <img src="./images/ourstory/journey4.jpg" alt="" style="width: 100%; margin-bottom: 1em;" class="scrollhide">
            <img src="./images/ourstory/journey5.jpg" alt="" style="width: 100%; margin-bottom: 1em;" class="scrollhide">
            <img src="./images/ourstory/journey6.jpg" alt="" style="width: 100%; margin-bottom: 1em;" class="scrollhide">
        </div>
    </div>
</body>
<script>
    carousel = document.getElementById("carousel")
    carouselPosition = 1
    navdropdown = document.getElementById("navdropdown")

    const throttle = (fn, delay) => { 
        let time = Date.now(); 
        return () => { 
            if((time + delay - Date.now()) <= 0) { 
                fn(); 
                time = Date.now(); 
            } 
        } 
    }

    function toggleDropdown() {
        navdropdown.classList.toggle("hidden")
    }

    function reveal() {
        let scrollhide = document.querySelectorAll(".scrollhide")

        for (let x = 0; x < scrollhide.length; x++) {
            let windowheight = window.innerHeight
            let elementTop = scrollhide[x].getBoundingClientRect().top
            let elementBottom = scrollhide[x].getBoundingClientRect().bottom
            let visible = 150

            if (elementTop < windowheight - visible) {
                scrollhide[x].classList.add("active")
            } else {
                scrollhide[x].classList.remove("active")
            }
        }
    }

    window.addEventListener("scroll", throttle(reveal, 100))
</script>
</html>