<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
    <style>
        .store-items{
            border: 1px solid white;
        }

        .store-image{
            background-position: center;
            background-size: cover;
            aspect-ratio: 1 / 1;
        }

        .purchase-button{
            border: 1px solid white;
            padding: 10px 15px;
            background-color: black;
            color: white;
            transition: 200ms;
        }

        .purchase-button:hover{
            background-color: white;
            color: black;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="https://www.google.com/maps/place/Rosslyn+Riviera+Mall/@-1.2159707,36.7956993,17z/data=!4m10!1m2!2m1!1srosslyn+riviera!3m6!1s0x182f3d5eef234b95:0xac9e573f43fe5923!8m2!3d-1.216572!4d36.7998675!15sCg9yb3NzbHluIHJpdmllcmFaESIPcm9zc2x5biByaXZpZXJhkgEPc2hvcHBpbmdfY2VudGVy4AEA!16s%2Fg%2F11c2l3xmq6?entry=ttu" class="location"><img src="logos/location.png" alt="location" style="height: 1em;"> Roslyn Riviera mall</a>
        <img src="logos/logo.png" alt="logo" class="nav-logo">
        <div class="navdropdown-container">
            <img src="logos/burger-bar.png" alt="burgerbar" class="burgerbar" id="burgerbar" onclick="toggleDropdown()">
            <div class="navdropdown hidden" id="navdropdown">
                <a href="/" class="nav-link">HOME</a>
                <a href="/beverages" class="nav-link">DRINKS</a>
                <a href="/ourstory" class="nav-link">OUR STORY</a>
                <a href="/reservations" class="nav-link">RESERVATIONS</a>
                <a href="/store" class="nav-link">MERCHANDISE</a>
                <!-- <a href="" class="nav-link">GIFT CARDS</a> -->
            </div>
        </div>
    </div>
    <h1 style="text-align: center;">STORE COMING SOON</h1>
    <!-- <div class="store-items-container">
        <div class="store-items">
            <div class="store-image" style="background-image: url('./images/store/baguette.jpg');"></div>
            <div style="margin: 1em;">
                <h1>Baguette</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reiciendis porro vero veniam ducimus incidunt et ex provident sint dicta.</p>
                <p style="margin-top: 2em; font-size: 1.2em;">KES 1500</p>
                <button class="purchase-button">PURCASE</button>
            </div>
        </div>
        <div class="store-items">
            <div class="store-image" style="background-image: url('./images/store/bread.jpg');"></div>
            <div style="margin: 1em;">
                <h1>Bread</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reiciendis porro vero veniam ducimus incidunt et ex provident sint dicta.</p>
                <p style="margin-top: 2em; font-size: 1.2em;">KES 1500</p>
                <button class="purchase-button">PURCASE</button>
            </div>
        </div>
        <div class="store-items">
            <div class="store-image" style="background-image: url('./images/store/chilli.jpg');"></div>
            <div style="margin: 1em;">
                <h1>Chilli</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reiciendis porro vero veniam ducimus incidunt et ex provident sint dicta.</p>
                <p style="margin-top: 2em; font-size: 1.2em;">KES 1500</p>
                <button class="purchase-button">PURCASE</button>
            </div>
        </div>
        <div class="store-items">
            <div class="store-image" style="background-image: url('./images/store/coffee.jpg');"></div>
            <div style="margin: 1em;">
                <h1>Coffee</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reiciendis porro vero veniam ducimus incidunt et ex provident sint dicta.</p>
                <p style="margin-top: 2em; font-size: 1.2em;">KES 1500</p>
                <button class="purchase-button">PURCASE</button>
            </div>
        </div>
        <div class="store-items">
            <div class="store-image" style="background-image: url('./images/store/naan.jpg');"></div>
            <div style="margin: 1em;">
                <h1>Naan Bread</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reiciendis porro vero veniam ducimus incidunt et ex provident sint dicta.</p>
                <p style="margin-top: 2em; font-size: 1.2em;">KES 1500</p>
                <button class="purchase-button">PURCASE</button>
            </div>
        </div>
        <div class="store-items">
            <div class="store-image" style="background-image: url('./images/store/tea.jpg');"></div>
            <div style="margin: 1em;">
                <h1>Tea</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reiciendis porro vero veniam ducimus incidunt et ex provident sint dicta.</p>
                <p style="margin-top: 2em; font-size: 1.2em;">KES 1500</p>
                <button class="purchase-button">PURCASE</button>
            </div>
        </div>
    </div> -->
</body>
<script>
    navdropdown = document.getElementById("navdropdown")

    function toggleDropdown() {
        navdropdown.classList.toggle("hidden")
    }
</script>
</html>